.banner .heading {
  font-size: 50px;
  font-family: 'Cookie', cursive;
  text-align: left;
  color: #CF4858;
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
}
.profile_heading {
  font-size: 50px;
  font-family: 'Cookie', cursive;
  text-align: center;
  color: #CF4858;
  margin-left:auto;
  margin-right:auto;
}
.heading {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #16A79D;
}
.user_info, .banner {
    margin-left:auto;
    margin-right:auto;
    /*max-width: 500px;*/
    max-width: 50%;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    height: 100%;
}
.new_user {
    font-size: 15px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #F4AC42;
}
.label {
    display: block;
    margin: 0px;
}
label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
input[type="password"], input[type="text"], input[type="email"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.button {
    background: #16A79D;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #4d505b;
    cursor: pointer;
    margin-left: 30%;
}

.ajax_call {
  text-align: center;
}
.get_exercise {
    background: #16A79D;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #4d505b;
    cursor: pointer;
}

.button:hover, .sign_up_button:hover, .logout_button:hover, .get_exercise:hover {
    background: #888
}

.sign_up_button {
    background: #F4AC42;
    border: none;
    padding: 10px 23px 10px 23px;
    color: #FFF;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #4d505b;
    cursor: pointer;
    margin-left: 30%;
}
.logout_button {
    background: #F4AC42;
    border: none;
    padding: 10px 23px 10px 23px;
    color: #FFF;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #4d505b;
    cursor: pointer;
}
.profile-welcome {
    margin: auto;
    font: 14px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    height: 100%;
    text-align: center;
}

.profile_footer {
  padding-bottom: 5%;
  text-align: center;
}

.exercise_details {
  height: 350px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #888;
  background: #F7F7F7;
  border-radius: 5px;
}
.fitbit_info {
  height: 200px;
  width: 30%;
}

.exercise_from_db {
  margin: 2%;
  padding: 5%;
  font-size: 22px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4d505b;
}

.side_image_strip {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.images {
  float: top;
  display: block;
  margin: 0;
  padding: 0;
}