
<div class="user_info">
  <div class="login">
    <form action="/users" method="post" class="STYLE-NAME">
      <h1 class="heading">Login</h1>
      <label>
        <span>Email :</span>
        <input class="email" type="email" name="email" placeholder="name@email.com" />
      </label>

      <label>
        <span>Password :</span>
        <input class="password" type="password" name="password" placeholder="password"/>
      </label>

      <label>
        <input type="submit" class="button" value="Login" />
      </label>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="signup">
    <form action="/users/new" method="post" class="STYLE-NAME">
      <h3 class="new_user">New user? Sign Up!</h3>
        <label class="label">
          <span>Name :</span>
          <input class="name" type="text" name="name" placeholder="Full Name" />
        </label>

        <label class="label">
          <span>Email :</span>
          <input class="email" type="email" name="email" placeholder="name@email.com" />
        </label>

        <label class="label">
          <span>Password :</span>
          <input class="password" type="password" name="password" placeholder="password"/>
        </label>

        <label class="label">
          <input type="submit" class="sign_up_button" value="Submit" />
        </label>
    </form>
  </div>
</div>











