<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


<title>QuickFit</title>

</head>

<header class="banner"><h1 class="heading">QuickFit</h1></header>
<body>
  <%= yield %>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

</body>
</html>
