<h1 class="profile_heading">QuickFit</h1>

<section class="side_image_strip">
  <aside class="images"><img width="250" src="../images/group.jpg"></aside>
  <aside class="images"><img width="250" src="../images/pushups_two.jpg"></aside>
  <aside class="images"><img width="250" src="../images/plank.jpg"></aside>
  <aside class="images"><img width="250" src="../images/run_trail.jpg"></aside>
  <aside class="images"><img width="250" src="../images/mt_climb.jpg"></aside>
</section>

<section class="profile-welcome">
  <h2>Welcome, <%= @user.name %>!</h2>
  <p>Do three rounds of 15-20 reps per exercise.</p>
</section>
<br>
<br>

<div class="ajax_call">
  <form action="/" method="post" class="STYLE-NAME">
    <label>
      <input type="submit" class="get_exercise" href="#" value="Get Exercise" />
    </label>
  </form>
</div>
<br>
<br>

<div class="exercise_details">
</div>

<div class="fitbit_info">
</div>

<section class="profile_footer">
  <form action="/logout" method="get" class="STYLE-NAME">
    <label>
      <input type="submit" class="logout_button" value="Logout">
    </label>
  </form>
</section>


